body {

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(129, 177, 240), rgb(20, 65, 161));
    min-height: 100vh;
}

h1 {
    text-align: center;
}