body {
    /* fallback for old browsers */
    background: #0f83cf;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(129, 177, 240), rgb(20, 65, 161));
}

.container {
    margin: auto;
    padding: 20px;
}
.card {
    margin: 10px;
}

h1 {
    text-align: center;
}

.buttons {
    text-align: center;

}

.buttons button {
    font-size: 1.5rem;
}

.image {
    min-width: 20px;
    height: 100px;
    padding: 5px;
    
}